<footer>
    <div class="container-fluid">
      <div class="row p-5 bg-primary text-white">
        <div class="col-lg-3">
          <p class="h3">Gamer Zone</p>
          <p class="text-secondary">Calle 26 # 1e - 85 barrio chaparral, los patios, Bogota Colombia, codigo postal 1050.</p>
        </div>
        <div class="col-lg-3">
          <p class="h5">Categorias</p>
          <div class="mb-3">
          <a class="text-white" href="">Equipos</a>
        </div>

        <div class="mb-2">
          <a class="text-white" href="">Monitores</a>
        </div>

        <div class="mb-2">
          <a class="text-white" href="">Teclados</a>
        </div>

        
        <div class="mb-2">
          <a class="text-white" href="">Mouses</a>
        </div>



        </div>
        <div class="col-lg-3">
          <p class="h5">Links</p>
          <div class="mb-2">
            <a class="text-white" href="">Terminos & condiciones</a>
          </div>

          <div class="mb-2">
            <a class="text-white" href="">Politicas de Privacidad</a>
          </div>
          
        </div>
        <div class="col-lg-3">
          <p class="h5">Contacto</p>

          <div class="mb-2">
            <a class="text-white" href="">Instagram</a>
          </div>

          <div class="mb-2">
            <a class="text-white" href="">Facebook</a>
          </div>

          <div class="mb-2">
            <a class="text-white" href="">Twitter</a>
          </div>
        </div>       
      </div>
      <div>
        <p class="text-center bg-dark text-white">Gamer Zone 2023 Copyright © Todos los derechos reservados</p>
      </div>
    </div>
  </footer>